<html>
	<head>
		<title><%= locals.title %></title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<header id="head">
			<h1><%= title %></h1>
		</header>

		<div id="todo-input">
			<form action="/create-todo" method="POST">
				<div id="description-div">
					<div id="description-header-input">
						<label for="description"><h3>Description</h3></label>
						<input
							id="description"
							type="text"
							name="description"
							placeholder="What do you need to do?"
							required
						/>
					</div>
				</div>

				<div id="category-date">
					<div id="category-div">
						<div id="category-header-input">
							<label for="categories"><h3>Category</h3></label>
							<select name="category" id="categories">
								<option value="default">Choose a category</option>
								<option value="personal">Personal</option>
								<option value="school">School</option>
								<option value="office">Office</option>
								<option value="college">College</option>
							</select>
						</div>
					</div>
					<div id="date-div">
						<div id="date-header-input">
							<label for="date"><h3>Due date</h3></label>
							<input id="date" type="date" name="date" required />
						</div>
					</div>
				</div>

				<div id="add-task">
					<div id="add-task-btn-wrapper">
						<button type="submit">Add Task</button>
					</div>
				</div>

			</form>
		</div>
		
		<div class="card">
			<ul style="list-style-type: none;">
				<% for (let i of todo_list) { %>
					<li class="card-list">
						<div class="card-delete-wrapper">
							<div class="card-wrapper">
								<div class="description-block">
									<h3>DESCRIPTION</h3>
									<p><%= i.description %></p>
								</div>
								<div class="date-block">
									<h3>DUE DATE</h3>
									<p><%= i.date %></p>
								</div>
								<div class="category-block">
									<h3>CATEGORY</h3>
									<p><%= i.category %></p>
								</div>
							</div>
							<div class="delete-btn-block">
								<a href="/delete-contact/?id=<%= i._id %>"><button>D</button></a>
							</div>
						</div>
					</li>
				<% } %>
			</ul>
		</div>

		<script type='text/javascript' src="/js/home.js"></script>
	</body>
</html>
